---
layout: index
title: A Thousand Dollar Truffle
tagline: Don’t wait to lose weight
---
{% include JB/setup %}


  {% for post in site.posts %}        
  {% include blog_head.html %}
                <!-- Blog Post Template on Index page -->
                <h2>
                    <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
                </h2>
                <p class="lead">
                    Tagged under: {{post.tags | array_to_sentence_string}}
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date | date_to_string }}</p>
		{{  post.content | truncatewords: 6 }}                
                <a class="btn btn-primary" href="{{ BASE_PATH }}{{ post.url }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                <hr>

  {% endfor %}


