---
layout: index
title: A Thousand Dollar Truffle
tagline: Don’t wait to lose weight
---
{% include JB/setup %}

  {% for post in site.posts %}

                <!-- Blog Post Template on Index page -->
                <h2>
                    <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
                </h2>
                <p class="lead">
                    Tagged under: {{post.tags | array_to_sentence_string}}
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date | date_to_string }}</p>
               <hr>
                <img class="img-responsive" src="http://lorempixel.com/900/300/" alt=""> 
                <hr>
		{{ post.excerpt }}                
                <a class="btn btn-primary" href="{{ BASE_PATH }}{{ post.url }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                <hr>

  {% endfor %}


